$content-size:950px;
$input-color:#2b2b2b;
$footer-text:#777;
$footer-title:#c9c9c9;
$twetts-color:#a75312;
$menu-color:#a8a8a8;
$global-text:#222;
$global-link:#222;
$global-link-hover:darken($global-link, 15%);
$global-title:#222;
$global-small-title:#222;
$global-border:#DDD;
$pricing-color:gray;
