{% extends index %}

{% block 'inner-page' %}

<div id="devis">
  <div class="container">
    <div class="span12 text-center">
      <div>
        <br><br>
        <a href="https://applidget.zendesk.com/categories/20054196-mobicheckin?locale=1" target="_blank" class="btn btn-info btn-larger">
          {% editable_short_text "support_button", hint: "support_button", priority: 1, fixed: true %}
            Need some support ?
          {% endeditable_short_text %}
        </a>
      </div>
      <iframe frameborder="0" height="1300" scrolling="none" src="https://applidget.wufoo.com/forms/mobicheckin-request-for-proposal/" width="800"></iframe>
    </div>
  </div>
</div>

{% endblock %}