{% extends index %}

{% block 'inner-page' %}

<div id="pricing">
  <div class="container">
    <div class="row">
      <div class="span12">

        <h1>
          {% editable_short_text "plans_title", hint: "plans_title", priority: 1, fixed: true %}
            Plans
          {% endeditable_short_text %}
        </h1>

        <div class="plan-container">
          <div id="top">
            <div class="plan first">
              <h3>Facebook</h3>
              <p>
                {% editable_short_text "free", hint: "free", priority: 1, fixed: true %}
                  Free
                {% endeditable_short_text %}
              </p>
            </div>

            <div class="plan">
              <h3>Classic</h3>
              <p>
                {% editable_short_text "free", hint: "free", priority: 1, fixed: true %}
                  Free
                {% endeditable_short_text %}
              </p>
            </div>

            <div class="plan">
              <h3>Pro</h3>
              <p>
                {% editable_short_text "pay_as_you_go", hint: "pay_as_you_go", priority: 1, fixed: true %}
                  Pay as you go
                {% endeditable_short_text %}
              </p>
            </div>
          </div>
          <div class="pricing-row">
            <div class="feature">
              {% editable_short_text "ipad_guest_list_checkin", hint: "ipad_guest_list_checkin", priority: 1, fixed: true %}
                iPad guest list Check-in with the <a href="https://itunes.apple.com/app/mobicheckin/id510125877" target="_blank">MobiCheckin app</a>
              {% endeditable_short_text %}
            </div>
            <div class="column">
              <span class="yes">yes</span>
            </div>
            <div class="column">
              <span class="yes">yes</span>
            </div>
            <div class="column">
              <span class="yes">yes</span>
            </div>
          </div>
          <div class="pricing-row">
            <div class="feature">
              {% editable_short_text "real_time_report", hint: "real_time_report", priority: 1, fixed: true %}
                Real time report of attendance on the web platform
              {% endeditable_short_text %}
            </div>
            <div class="column">
              <span class="yes">yes</span>
            </div>
            <div class="column">
              <span class="yes">yes</span>
            </div>
            <div class="column">
              <span class="yes">yes</span>
            </div>
          </div>
          <div class="pricing-row">
            <div class="feature">
              {% editable_short_text "rsvp", hint: "rsvp", priority: 1, fixed: true %}
                <a href="http://en.wikipedia.org/wiki/RSVP_%28invitations%29">RSVP</a>
              {% endeditable_short_text %}
            </div>
            <div class="column">
              <span class="yes">yes</span>
            </div>
            <div class="column">
              <span class="yes">yes</span>
            </div>
            <div class="column">
              <span class="yes">yes</span>
            </div>
          </div>
          <div class="pricing-row">
            <div class="feature">
              {% editable_short_text "export", hint: "export", priority: 1, fixed: true %}
                Export as Excel the guest and check-ins lists
              {% endeditable_short_text %}
            </div>
            <div class="column">
              <span class="yes">yes</span>
            </div>
            <div class="column">
              <span class="yes">yes</span>
            </div>
            <div class="column">
              <span class="yes">yes</span>
            </div>
          </div>
          <div class="pricing-row">
            <div class="feature">
              {% editable_short_text "stats", hint: "stats", priority: 1, fixed: true %}
                Stats report
              {% endeditable_short_text %}
            </div>
            <div class="column">
              <span class="yes">yes</span>
            </div>
            <div class="column">
              <span class="yes">yes</span>
            </div>
            <div class="column">
              <span class="yes">yes</span>
            </div>
          </div>
          <div class="pricing-row">
            <div class="feature">
              {% editable_short_text "custom_form_with_wufoo", hint: "custom_form_with_wufoo", priority: 1, fixed: true %}
                Registration form with <a href="http://wufoo.com/">Wufoo</a>
              {% endeditable_short_text %}
            </div>
            <div class="column">
              <span class="no">no</span>
            </div>
            <div class="column">
              <span class="yes">yes</span>
            </div>
            <div class="column">
              <span class="yes">yes</span>
            </div>
          </div>
          <div class="pricing-row">
            <div class="feature">
              {% editable_short_text "registration_form", hint: "registration_form", priority: 1, fixed: true %}
                Customized registration form
              {% endeditable_short_text %}
            </div>
            <div class="column">
              <span class="no">no</span>
            </div>
            <div class="column">
              <span class="no">no</span>
            </div>
            <div class="column">
              <span class="yes">yes</span>
            </div>
          </div>
          <div class="pricing-row">
            <div class="feature">
              {% editable_short_text "moderated_registration", hint: "moderated_registration", priority: 1, fixed: true %}
                Moderated registrations
              {% endeditable_short_text %}
            </div>
            <div class="column">
              <span class="no">no</span>
            </div>
            <div class="column">
              <span class="yes">yes</span>
            </div>
            <div class="column">
              <span class="yes">yes</span>
            </div>
          </div>
          <div class="pricing-row">
            <div class="feature">
              {% editable_short_text "import", hint: "import", priority: 1, fixed: true %}
                Import your guest list as an Excel spreadsheet
              {% endeditable_short_text %}
            </div>
            <div class="column">
              <span class="no">no</span>
            </div>
            <div class="column">
              <span class="yes">yes</span>
            </div>
            <div class="column">
              <span class="yes">yes</span>
            </div>
          </div>
          <div class="pricing-row">
            <div class="feature">
              {% editable_short_text "qrcode_scan", hint: "qrcode_scan", priority: 1, fixed: true %}
                QR Code scan for faster moving lines
              {% endeditable_short_text %}
            </div>
            <div class="column">
              <span class="no">no</span>
            </div>
            <div class="column">
              <span class="no">no</span>
            </div>
            <div class="column">
              <span class="yes">yes</span>
            </div>
          </div>
          <div class="pricing-row">
            <div class="feature">
              {% editable_short_text "printable_custom_badge", hint: "printable_custom_badge", priority: 1, fixed: true %}
                Printable branded badges sent to your guests
              {% endeditable_short_text %}
            </div>
            <div class="column">
              <span class="no">no</span>
            </div>
            <div class="column">
              <span class="no">no</span>
            </div>
            <div class="column">
              <span class="yes">yes</span>
            </div>
          </div>
          <div class="pricing-row">
            <div class="feature">
              {% editable_short_text "vip_notifications", hint: "vip_notifications", priority: 1, fixed: true %}
                SMS/Email notifications when a VIP checks in. <a href="http://blog.mobicheckin.com/receive-a-text-message-sms-notification-when">Details</a>
              {% endeditable_short_text %}
            </div>
            <div class="column">
              <span class="no">no</span>
            </div>
            <div class="column">
              <span class="no">no</span>
            </div>
            <div class="column">
              <span class="yes">yes</span>
            </div>
          </div>
          <div class="pricing-row">
            <div class="feature">
              {% editable_short_text "api", hint: "api", priority: 1, fixed: true %}
                MobiCheckin <a href="https://app.mobicheckin.com/api">API</a>
              {% endeditable_short_text %}
            </div>
            <div class="column">
              <span class="no">no</span>
            </div>
            <div class="column">
              <span class="no">no</span>
            </div>
            <div class="column">
              <span class="yes">yes</span>
            </div>
          </div>
          <div class="pricing-row">
            <div class="feature">
              {% editable_short_text "guest_list_size", hint: "guest_list_size", priority: 1, fixed: true %}
                Guest list size
              {% endeditable_short_text %}
            </div>
            <div class="column">1200</div>
            <div class="column">150</div>
            <div class="column" title="{% editable_short_text 'illimited_contact', hint: 'illimited_contact', priority: 1, fixed: true %}Illimited. Contact us for technical details.{% endeditable_short_text %}">&#8734;</div>
          </div>
          <div class="pricing-row">
            <div class="feature">
              {% editable_short_text "guest_categories", hint: "guest_categories", priority: 1, fixed: true %}
                Guest categories
              {% endeditable_short_text %} / 
              {% editable_short_text "Check-in Points", hint: "Check-in Points", priority: 1, fixed: true %}
                Check-in Points
              {% endeditable_short_text %}
            </div>
            <div class="column">1 / 1</div>
            <div class="column">1 / 1</div>
            <div class="column">100 / 1000</div>
          </div>
          <div class="pricing-row">
            <div class="feature">
              {% editable_short_text "events_you_can_create_and_manage", hint: "events_you_can_create_and_manage", priority: 1, fixed: true %}
                Events you can create and manage
              {% endeditable_short_text %}
            </div>
            <div class="column" title="{% editable_short_text 'illimited', hint: 'illimited', priority: 1, fixed: true %}Illimited.{% endeditable_short_text %}">&#8734;</div>
            <div class="column"><strong>1</strong></div>
            <div class="column" title="{% editable_short_text 'illimited', hint: 'illimited', priority: 1, fixed: true %}Illimited.{% endeditable_short_text %}">&#8734;</div>
          </div>
          <div class="pricing-row">
            <div class="feature">
              {% editable_short_text "phone_support", hint: "phone_support", priority: 1, fixed: true %}
                English phone support 5/7, 9 a.m - 6 p.m. (CET)
              {% endeditable_short_text %}
            </div>
            <div class="column">
              <span class="no">no</span>
            </div>
            <div class="column">
              <span class="no">no</span>
            </div>
            <div class="column">
              <span class="yes">yes</span>
            </div>
          </div>

          <div class="action-call-row">
            <div class="feature">&nbsp;</div>
            <div class="column">
              <h3>Facebook</h3>
              <a href="https://app.mobicheckin.com/en/events/plan" class="btn">
                {% editable_short_text "create_account", hint: "create_account", priority: 1, fixed: true %}
                  Sign up
                {% endeditable_short_text %}
              </a>
            </div>
            <div class="column">
              <h3>Classic</h3>
              <a href="https://app.mobicheckin.com/en/events/plan" class="btn">
                {% editable_short_text "create_account", hint: "create_account", priority: 1, fixed: true %}
                  Sign up
                {% endeditable_short_text %}
              </a>
            </div>
            <div class="column">
              <h3>Pro</h3>
              <a href="/devis" class="btn">
                {% editable_short_text "contact_for_custom_plan", hint: "contact_for_custom_plan", priority: 1, fixed: true %}
                  Contact us
                {% endeditable_short_text %}
              </a>
            </div>
          </div>

        </div>
        <div class="clear" style="height: 2em"></div>

        <h1>
          {% editable_short_text "pro_pricing_title", hint: "pro_pricing_title", priority: 1, fixed: true %}
            MobiCheckin Pro Pricing
          {% endeditable_short_text %}
        </h1>

        <div class="plan-container">
          <p class="pro-pricing-paragraph">
            {% editable_long_text "pro_pricing_paragraph", hint: "pro_pricing_paragraph", priority: 1, fixed: true %}
              MobiCheckin uses a credit system that you can buy and spend on events you organize. Each guest will make you spend several credits depending on which part of the MobiCheckin technology you want to use.
            {% endeditable_long_text %}
          </p>

          <div class="technology-table-container">
          <table class="table technology-table">
            <tr>
              <th>
                {% editable_short_text "technology", hint: "technology", priority: 1, fixed: true %}
                  Technology used at the event
                {% endeditable_short_text %}
              </th>
              <th class="credits-used">
                {% editable_short_text "credits_per_guest", hint: "credits_per_guest", priority: 1, fixed: true %}
                  Credits per guest
                {% endeditable_short_text %}
              </th>
            </tr>
            <tr>
              <td>
                {% editable_short_text "technology_checkin", hint: "technology_checkin", priority: 1, fixed: true %}
                  Guest check-in from list (iPad). Base option.
                {% endeditable_short_text %}
              </td>
              <td class="credits-used">1</td>
            </tr>
            <tr>
              <td>
                {% editable_short_text "technology_registration_form", hint: "technology_registration_form", priority: 1, fixed: true %}
                  Custom registration form for each guest category
                {% endeditable_short_text %}
              </td>
              <td class="credits-used">1</td>
            </tr>
            <tr>
              <td>
                {% editable_short_text "technology_email", hint: "technology_email", priority: 1, fixed: true %}
                  Scan a QR code or <a href="http://www.apple.com/ios/whats-new/#passbook">Apple Passbook</a> sent with a custom confirmation email.
                {% endeditable_short_text %}
              </td>
              <td class="credits-used">1</td>
            </tr>
            <tr>
              <td>
                {% editable_short_text "technology_badge", hint: "technology_badge", priority: 1, fixed: true %}
                  E-badge with QR code. Customized PDF easily printable at home.
                {% endeditable_short_text %}
              </td>
              <td class="credits-used">1</td>
            </tr>
          </table>
        </div>

          <div class="pricing-table-container">
          <table class="table pricing-table">
            <tr class="credits">
              <th>
                {% editable_short_text "credit_count", hint: "credit_count", priority: 1, fixed: true %}
                  Credits count
                {% endeditable_short_text %}
              </th>
              <td>150</td>
              <td>300</td>
              <td>600</td>
              <td>1,200</td>
              <td>2,400</td>
              <td>4,800</td>
              <td>9,600</td>
            </tr>
            <tr class="price">
              <th>
                {% editable_short_text "price_vat_excluded", hint: "price_vat_excluded", priority: 1, fixed: true %}
                  Price (excl. VAT)
                {% endeditable_short_text %}
              </th>
              <td>135&euro;</td>
              <td>270&euro;</td>
              <td>405&euro;</td>
              <td>675&euro;</td>
              <td>1,080&euro;</td>
              <td>1,755&euro;</td>
              <td>2,835&euro;</td>
            </tr>
          </table>
          </div>
        </div>

        <div class="call-to-action">
          <a href="/devis" class="btn btn-success">
            {% editable_short_text "contact_for_custom_plan", hint: "contact_for_custom_plan", priority: 1, fixed: true %}
              Contact us
            {% endeditable_short_text %}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}